/*-------------------------------------- COLORS -------------------------------------- */
/*
#834b4a
#733a39
#c2c2c2
#494949
#e5e5e5
#212529
*/


/* START PAGE CODE */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*,
::before,
::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
    color: #FFF;
}

.titles-pages{
    font-size: 2.3em;
    color: #733a39;
    font-weight: 600;
}

/* HEADER ALL */
.title-header{
    margin: 0 !important;
    font-family: 'Limelight', cursive;
}

header {
    height: 100px;
    padding-top: 10px;
    background-color: #733a39;
}

header h1 {
    letter-spacing: 2px;
    font-size: 4rem;
}

.div_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;
    padding-right: 20px;
}

.header{
    border: none !important;
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #733a39;
}

#recherche{
    width: 370px;
    height: 30px;
    font-style: italic;
}

nav ul, nav li {
    list-style-type: none;
}

.onglets{
    display: flex;
    flex-direction: row;
}

nav .onglets a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding-bottom: 5px;
}

nav a:hover{
    border-bottom: #FFF 1px solid;
    color: #fff !important;
}

nav li:hover{
    color: #fff !important;
}

li .dropdown-item:hover{
    color: #494949 !important;
}

.form-control:focus {
    border-color: #733a39;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  }


/*Navbar utilisateur connecté*/
.nav-connected{
    background-color: #733a399f;
}

.menu-focus:focus{
    color: #fff;
}



/* CONTENT INDEX */

.section_index {
    margin: 100px 50px 100px 50px;
    text-align: center;
}

/* NAV ORDI */

footer {
    color: #fff;
    padding: 30px 100px;
    background-color: #733a39;
}

footer h1 {
    letter-spacing: 2px;
}

.nav-footer ul li {
    padding-bottom: 5%;
}

.nav-footer ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-footer ul li a:hover {
    color: #000;
}

footer .services {
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 250px;
}

#end {
    text-align: center;
}

/*-------------------------------------- PROFIL.PHP -------------------------------------- */

.avatar{
    width: 160px;
}

.element {
    position: relative;
    width: 100%;
    height: 600px;
}

.profil-gallery-title{
    position: absolute;
    top: -47px;
    font-size: 3em;
    margin-left: 10px;
}

.profil-gallery-title{
    &::after{
        content: "";
    }
    &:hover::after{
        content: " ⟶";
        color: #212529;
    }
}

.top{
    position: absolute;
    width: 250px;
    border-top: 7px solid #212529;
    top: 0px;
}

.left{
    position: absolute;
    height: 100px;
    border-left: 7px solid #212529;
    left: 0px;
    top: 0px;
}
  
.bottom{
    position: absolute;
    width: 250px;
    border-bottom: 7px solid #212529;
    bottom: 0px;
    right: 0px;
}

.right{
    position: absolute;
    height: 100px;
    border-right: 7px solid #212529;
    right: 0px;
    bottom: 0px;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.gallery-images .box{
    width: 200px;
    margin-top: 50px;
}

.gallery-images .box:hover{
    scale: 1.2;
}


.gallery-images .box p{
    margin: 0;
}

.add-image{
    position: absolute;
    border: none;
    background: none;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    margin: 5px;
}

.add-image:hover{
    scale: 0.9;
}

.add-image i{
    font-size: 2.5em;
    color: #733a39;
    font-weight: bold;
}

#submit_image{
    background-color: #733a39;
    color: #fff;
}

/*-------------------------------------- GALERIE.PHP -------------------------------------- */

.filtre{
    background: none;
    border: none;
}

.filtre i{
    font-size: 1.3em;
}

.gallery-title{
    font-size: 3em;
}


/*-------------------------------------- RESEARCH.PHP -------------------------------------- */

.nav-tabs{
    border: none;
    outline: none;
    border-bottom: 2px solid #733a39;
}

a.nav-link{
    color: #733a39;
    margin-right: 5px;
    border: #733a39 !important;
}

div{
    background-image: url('');
}

a.nav-link:hover{
    background-color : rgba(115,58,57,0.66) !important;
    color: white !important;
    border: none;
}

a.nav-link.active{
    background: #733a39 !important;
    color: white !important;
    border: none;
}

li.found-user{
    list-style-type: none;
}

li.found-user a{
    color: #733a39;
}

/*-------------------------------------- COMPTE.PHP -------------------------------------- */
.change-image-account{
    width: 200px;
    height: 250px;
}

.btn-account{
    width: 100px;
    margin: 3px;
}

.input-upload-img{
    width: 200px;
}

.btn-account-validate{
    background: #733a39;
    color: #fff;
}

.btn-account-validate:hover{
    background: #62302f;
    color: #fff;
}

.btn-account-cancel{
    border: #733a39 2px solid;
    background: none;
    color: #733a39;
}

.btn-account-cancel:hover{
    border: #62302f 2px solid;
    color: #62302f;
}

/*-------------------------------------- DASHBOARD.PHP -------------------------------------- */

.form-role{
    width: 200px;
}

table, tr, td{
    border: none;
}

thead th{
    border-bottom: #62302f 2px solid;
}

tbody tr td{
    border-bottom: rgb(166, 163, 163) 1px solid;
}

.research-account, .research-tags{
    margin-left: 10px;
    font-size: 1.6em;
}

/*-------------------------------------- INSCRIPTION1.PHP -------------------------------------- */


.btn-inscription{
    color: #fff;
    background: #733a39;
}

.btn-inscription:hover{
    background: #733a39;
}

.form-group1{
    color:#733a39;
}


/*-------------------------------------- CONTACT.PHP -------------------------------------- */
.box{
    position: relative;
}

#moncercle{
    border-radius:50%;
    width:600px;
    height:600px; 
    margin-bottom: 20px;
    border:#733a39 8px solid;
}

.rectangle{
    position: absolute;
    width: 700px;
    top: 120px;
    right: -250px;
    bottom: 100px;
}

.btn-primary{
    color: #733a39;
    background-color:#fff;
    border-color:#733a39;
}

.btn-primary:hover{
    background:#FFF;
    color:#733a39;
}

form.form-rectangle{
    background-color: #62302f;
}

.form-group{
    color:#fff;
}


